@media screen and (min-width:1440px) {
    #header>header{
        width: 1440px;
      }
    header>nav{
        width: 600px;
      }

    #box01{
        width: 1440px;
    }
    #box02{
        width: 1440px;
      }
    .product{
        width: 1000px;
    }
    footer>div>ul{
        width: 1440px;
      }
    header>h1{
        width: 150px;
      }

}


@media screen and (max-width:1399px) and (min-width:980px) {}


/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:979px) and (min-width:580px){
  #header>header{
    align-items: center;
  }
  header>nav{
    position: unset;
    text-align: end;
  }
  header>nav>p{
    display: block;
    font-size: 40px;
  }
  header>nav>ul{
    display: none;
  }

  header>.sub{
    flex-direction: row;
  }

  header>.sub>.lang>dt>p>i{
    font-size: 40px;
  }
  header>.sub>.lang>dt>p>span{
    display: none;
  }

  header>.sub>.search>input{
    display: none;
  }
  header>.sub>.search>span{
    font-size: 40px;
  }
}



/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:579px){}