@media screen and (min-width:1440px) {
    #header>header{
        width: 1440px;
      }
    header>nav{
        width: 600px;
      }

    #box01{
        width: 1440px;
    }
    #box02{
        width: 1440px;
      }
    .product{
        width: 1000px;
    }
    footer>div>ul{
        width: 1440px;
      }
    header>h1{
        width: 150px;
      }

}


@media screen and (max-width:1399px) and (min-width:980px) {
  header>nav{
    width: /* 600px *//* 41.66666666% */47%;
    position: absolute;
    bottom: 0;
    left: 200px;
  }
  header>nav>ul>li{
    padding: 10px 5px;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
  }
}


/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:979px) and (min-width:580px){
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  #header{
    position: relative;
  }
  #header>header{
    align-items: center;
    position: unset;
  }
  header>h1{
    width: 33.333%;
  }
  header>nav{
    width: 100%;
    /* width: 33.33333%; */
    position: unset;
  }
  header>nav>p{
    position: absolute;
    margin-right: 5%;
    right: 0;
    top: 25%;
    display: block;
    font-size: 45px;
  }
  header>nav>p:hover+ul{
    display: flex;
  }
  header>nav>ul{
    display: none;
    background-color: #0c2645;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    border-top: 2px solid #476588;
  }
  header>nav>ul>li{
    width: 100%;
    text-align: center;
  }
  #header>header>nav>ul>li:hover{
    background-color: rgba(255, 255, 255, 0.74);
  }

  header>.sub{
    /* width: 33.3333%; */
    /* flex-direction: row; */
    /* justify-content: start; */
    /* position: absolute; */
    /* right: 25vh; */
  }
  header>.sub>.lang{
    position: unset;
  }
  header>.sub>.lang>dt{
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 25%; 
  }
  header>.sub>.lang>dd{
    top: 100%;
    left: 0;
    width: 100%;
    border: 3px solid #476588;
    box-shadow: none;
    z-index: 9999;
    background-color: #0c2645;
  }
  header>.sub>.lang>dd>p{
    display: none;
  }
  header>.sub>.lang>dd>dl{
    width: 100%;
    display: flex;
  }
  header>.sub>.lang>dd>dl>dd{
    border-bottom: none;
    width: 25%;
    text-align: center;
    color: #fff;
  }
  header>.sub>.lang>dt>p>i{
    font-size: 40px;
    /* margin-right: 5vh; */
  }
  header>.sub>.lang>dt>p>span{
    display: none;
  }
  
  header>.sub>.search:hover>input{
    display: block;
  }
  header>.sub>.search>input{
    display: none;
    position: absolute;
    left: 5%;
    top: 100%;
    width: 90%;
    margin: 10px 10px;
    border: 3px solid #0c2645;
  }
  header>.sub>.search>span{
    font-size: 40px;
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 15%;
    /* margin-right: 15vh; */
  }

    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    #box01>ul{
      display: flex;
      flex-wrap: wrap;
    }

    #box02{
      position: relative;
      padding-top: 80px;
    }
    .filter{
      /* position: absolute;
      top: 10px; left: 50%; */
    }
    .filter>.filterClick{
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 160px;
      margin-left: -80px;
      margin-bottom: 30px;
      text-align: center;
      background-color: #fff;
      font-size: 30px;
      font-weight: bold;
      color: orangered;
      line-height: 30px;
    }
    .filter>.filterClick>dt{
      border: none;
    }
    .filterClick>dt>span{
      margin-right: 10px;
    }
    .filter>dl{
      background-color: green;
    }

    .filter>.filterClick:hover + div{
      display: flex;
    }
    
    .filter>div{
      position: absolute;
      margin: 0 auto;
      width: 100%;
      /* margin-left: -125px; */
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #0c2645;
      padding: 20px 0;
    }
    .filter>div>dl{
      width: 40%;
      text-align: center;
      margin: 0 5%;
    }
    .filter>div>dl>dt{
      color: orangered;
      border-bottom: 1px solid orangered;
      font-size: 30px;
      font-weight: bold;
      line-height: 35px;
      margin-bottom: 10px;
    }
    .filter>div>dl>dd{
      color: #999;
      line-height: 35px;
      font-size: 25px;
    }
    .filter>div>dl>dd:hover{
      border-bottom: 1px solid #fff;
    }
    
    .filter>div>.itemWork>dd:hover{
      color: #fff;
      font-weight: bold;
    }
    .filter>div>.itemColor>dd:hover{
      color: #fff;
      font-weight: bold;
    }
    .filter>div>.itemType>dd:hover{
      color: #fff;
      font-weight: bold;
    }
    .filter>div>.priceFrom>dd{
      color: #fff;
    }

    /* 제품리스트 */
    .product{
      width: /* 1000px */100%;
    }
    .product>figure{
      width: 50%;
    }
}



/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:579px){
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  #header{
    position: relative;
  }
  #header>header{
    align-items: center;
    position: unset;
  }
  header>h1{
    width: 40%;
  }
  header>h1>a{
    width: 100%;
  }
  header>nav{
    width: 100%;
    /* width: 33.33333%; */
    position: unset;
  }
  header>nav>p{
    position: absolute;
    margin-right: 5%;
    right: 0;
    top: 25%;
    display: block;
    font-size: 35px;
  }
  header>nav>p:hover+ul{
    display: flex;
  }
  header>nav>ul{
    display: none;
    background-color: #0c2645;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 15vh; */
    border-top: 2px solid #476588;
    z-index: 999999;
  }
  header>nav>ul>li{
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  #header>header>nav>ul>li:hover{
    background-color: rgba(255, 255, 255, 0.74);
  }

  header>.sub{
    /* width: 33.3333%; */
    /* flex-direction: row; */
    /* justify-content: start; */
    /* position: absolute; */
    /* right: 25vh; */
  }
  header>.sub>.lang{
    position: unset;
  }
  header>.sub>.lang>dt{
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 35%; 
  }
  header>.sub>.lang>dd{
    top: 100%;
    left: 0;
    width: 100%;
    border: 3px solid #476588;
    box-shadow: none;
    z-index: 9999;
    background-color: #0c2645;
  }
  header>.sub>.lang>dd>p{
    display: none;
  }
  header>.sub>.lang>dd>dl{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header>.sub>.lang>dd>dl>dd{
    border-bottom: none;
    width: 25%;
    text-align: center;
    color: #fff;
  }
  header>.sub>.lang>dt>p>i{
    font-size: 30px;
    /* margin-right: 12.5vh; */
  }
  header>.sub>.lang>dt>p>span{
    display: none;
  }

  header>.sub>.search>input{
    display: none;
  }
  header>.sub>.search:hover>input{
    display: block;
  }
  header>.sub>.search>input{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 90%;
    margin: 10px 10px;
    border: 3px solid #0c2645;
  }
  header>.sub>.search>span{
    font-size: 30px;
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 20%;
  }

    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    #box01>ul{
      display: flex;
      flex-wrap: wrap;
    }
    #box02{
      position: relative;
      padding-top: 80px;
    }
    .filter{
      /* position: absolute;
      top: 10px; left: 50%; */
    }
    .filter>.filterClick{
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 160px;
      margin-left: -80px;
      margin-bottom: 30px;
      text-align: center;
      background-color: #fff;
      font-size: 30px;
      font-weight: bold;
      color: orangered;
      line-height: 30px;
    }
    .filter>.filterClick>dt{
      border: none;
    }
    .filterClick>dt>span{
      margin-right: 10px;
    }
    .filter>dl{
      background-color: green;
    }


    .filter>.filterClick:hover + div{
      display: flex;
    }
    
    .filter>div{
      position: absolute;
      margin: 0 auto;
      width: 100%;
      /* margin-left: -125px; */
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #0c2645;
      padding: 20px 0;
    }
    .filter>div>dl{
      width: 40%;
      text-align: center;
      margin: 0 5%;
    }
    .filter>div>dl>dt{
      color: orangered;
      border-bottom: 1px solid orangered;
      font-size: 30px;
      font-weight: bold;
      line-height: 35px;
      margin-bottom: 10px;
    }
    .filter>div>dl>dd{
      color: #999;
      line-height: 35px;
      font-size: 25px;
    }
    .filter>div>dl>dd:hover{
      border-bottom: 1px solid #fff;
    }
    
    .filter>div>.itemWork>dd:hover{
      color: #fff;
      font-weight: bold;
    }
    .filter>div>.itemColor>dd:hover{
      color: #fff;
      font-weight: bold;
    }
    .filter>div>.itemType>dd:hover{
      color: #fff;
      font-weight: bold;
    }
    .filter>div>.priceFrom>dd{
      color: #fff;
    }


    /* 제품리스트 */
    .product{
      width: /* 1000px */100%;
    }
    .product>figure{
      width: 100%;
    }


    /* footer */
    footer>div>ul{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    footer>ul{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    footer>ul>li>a{
      text-align: center;
    }
    footer>ul>li:first-child>a{
      border-right: none;
    }
}