@media screen and (min-width:1440px) {
    #header>header{
        width: 1440px;
      }
    header>nav{
        width: 600px;
      }

    #box01{
        width: 1440px;
    }
    #box02{
        width: 1440px;
      }
    .product{
        width: 1000px;
    }
    footer>div>ul{
        width: 1440px;
      }
    header>h1{
        width: 150px;
      }

}


@media screen and (max-width:1399px) and (min-width:980px) {}


/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@     테블릿    @@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:979px) and (min-width:580px){
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  #header>header{
    align-items: center;
    position: unset;
  }
  header>h1{
    /* width: 33.333%; */
  }
  header>nav{
    width: 100%;
    /* width: 33.33333%; */
    position: unset;
  }
  header>nav>p{
    position: absolute;
    right: 10vh;
    top: 30px;
    display: block;
    font-size: 45px;
  }
  header>nav>p:hover+ul{
    display: flex;
  }
  header>nav>ul{
    display: none;
    background-color: #0c2645;
    position: absolute;
    left: 0;
    top: 104px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    border-top: 2px solid #476588;
  }
  header>nav>ul>li{
    width: 100%;
    text-align: center;
  }
  #header>header>nav>ul>li:hover{
    background-color: rgba(255, 255, 255, 0.74);
  }

  header>.sub{
    /* width: 33.3333%; */
    /* flex-direction: row; */
    /* justify-content: start; */
    /* position: absolute;
    right: 25vh; */
  }
  header>.sub>.lang{
    position: unset;
  }
  header>.sub>.lang>dt{
    position: absolute;
    right: 25vh; 
  }
  header>.sub>.lang>dt>p>i{
    font-size: 40px;
  }
  header>.sub>.lang>dt>p>span{
    display: none;
  }

  header>.sub>.search>input{
    display: none;
  }
  header>.sub>.search>span{
    font-size: 40px;
  }

    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    /* @@@@@@@@@@메인@@@@@@@@ */
    #box02{
      position: relative;
      padding-top: 80px;
    }
    .filter{
      position: absolute;
      top: 10px; left: 50%;
    }
    .filter>.filterClick{
      display: block;
      width: 160px;
      margin-left: -80px;
      text-align: center;
      background-color: #fff;
      font-size: 30px;
      font-weight: bold;
      color: orangered;
      line-height: 30px;
    }
    .filter>.filterClick>dt{
      border: none;
    }
    .filterClick>dt>span{
      margin-right: 10px;
    }
    .filter>dl{
      background-color: green;
    }
    
    .filter>div{
      background-color: green;
    }
}



/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@    모바일   @@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:579px){

  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  /* @@@@@@@@@@헤더@@@@@@@@ */
  #header>header{
    align-items: center;
    position: unset;
  }
  header>h1{
    /* width: 33.333%; */
  }
  header>nav{
    width: 100%;
    /* width: 33.33333%; */
    position: unset;
  }
  header>nav>p{
    position: absolute;
    right: 10vh;
    top: 30px;
    display: block;
    font-size: 45px;
  }
  header>nav>p:hover+ul{
    display: flex;
  }
  header>nav>ul{
    display: none;
    background-color: #0c2645;
    position: absolute;
    left: 0;
    top: 104px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    border-top: 2px solid #476588;
  }
  header>nav>ul>li{
    width: 100%;
    text-align: center;
  }
  #header>header>nav>ul>li:hover{
    background-color: rgba(255, 255, 255, 0.74);
  }

  header>.sub{
    /* width: 33.3333%; */
    flex-direction: row;
    /* justify-content: start; */
    position: absolute;
    right: 22.5vh;
  }
  header>.sub>.lang{
    margin-right: 5vh;
  }

  header>.sub>.lang>dt>p>i{
    font-size: 40px;
  }
  header>.sub>.lang>dt>p>span{
    display: none;
  }

  header>.sub>.search>input{
    display: none;
  }
  header>.sub>.search>span{
    font-size: 40px;
  }

  /* @@@@@@@@@메인@@@@@@@ */
  /* @@@@@@@@@메인@@@@@@@ */
  /* @@@@@@@@@메인@@@@@@@ */
  /* @@@@@@@@@메인@@@@@@@ */




}